<div class="jumbotron">
    <h1 class="text-center">AluraPic</h1>
</div>
<div class="container">
    <div class="row">
        <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
        <div class="col-md-12">
            <form>
                 <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Nova foto
                        </a>
                    </span>
                    <input #textoProcurado (keyup)="0" type="text" class="form-control" placeholder="filtrar pelo título da foto">
                </div> 
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>
    <div class="row">
        <painel *ngFor="let foto of fotos | filtroPorTitulo:textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
            <foto  [url]="foto.url" [titulo]="foto.titulo"></foto>
            <button class="btn btn-danger btn-block" (click)="remove(foto)">Remover</button>
        </painel>
    </div>
</div>